.grid-container {display: inline-grid;}
.jb-font-size-60pts {font-size: 60px}
.jb-grid-container {display:grid; grid-template-columns: auto auto auto auto auto auto auto auto auto auto; padding:10px;grid-gap:5px}    
.jb-grid-item {font-size: 30px;text-align: center;} .jb-grid-item:hover {background-color:#FF6A00;}
.jb-disable-link {text-decoration: none;}
.jb-padding-left-32 { padding-left:32pts; }
.jb-padding-right-32 { padding-right:32pts;}
.jb-table-width-90 { width: 90%; }
.jb-table-width-70 { width: 70%; }
.jb-margin-center {margin: 0 auto;}
.jb-icon-size-60 {font-size: 600px;}
.jb-icon-1 { width: 100px; height: 100px; }
.jb-text-justify {text-align: justify; text-justify: inter-word;}  
