.grid-container {display: inline-grid;}
.jb-font-size-60pts {font-size: 60px}
.jb-grid-container {display:grid; grid-template-columns: auto auto auto auto auto auto auto auto auto auto; padding:10px;grid-gap:5px}    
.jb-grid-item {font-size: 30px;text-align: center;} .jb-grid-item:hover {background-color:#FF6A00;}
.jb-disable-link {text-decoration: none;}
.jb-padding-left-32 { padding-left:32pts; }
.jb-padding-right-32 { padding-right:32pts;}
.jb-table-width-90 { width: 90%; }
.jb-table-width-70 { width: 70%; }
.jb-margin-center {margin: 0 auto;}

body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }